@font-face {
    font-family: "Touche"; 
    src: url("//db.onlinewebfonts.com/t/89d8fba73b6d10c300478fad02d4871d.eot"); src: url("//db.onlinewebfonts.com/t/89d8fba73b6d10c300478fad02d4871d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/89d8fba73b6d10c300478fad02d4871d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/89d8fba73b6d10c300478fad02d4871d.woff") format("woff"), url("//db.onlinewebfonts.com/t/89d8fba73b6d10c300478fad02d4871d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/89d8fba73b6d10c300478fad02d4871d.svg#Touche") format("svg"); }
::-webkit-scrollbar{width:8px;height:7px;background:transparent;position:fixed;}
::-webkit-scrollbar-thumb{background:rgba(0,0,0,0.5);border-radius:22px;}
body{
    background:whitesmoke;
    font-family: "Touche";
}
#sidebar{
    width: 22rem;
    background:white;
    height: 100vh;
    position:fixed;
    top: 0;
    left: 0;

}
#sidebar #side-container{
    min-width:10rem;
    padding-top:2rem;
    padding-left:2rem;
}

#sidebar #side-container #title{
    font-size:18px;
    font-weight: 600;
    color:#008080;
}
#side-container ul.category{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 4rem;
    display:flex;
    flex-direction: column;
    gap:1rem;

}
#side-container ul.category li{
    color:#9e9ea7;
    cursor: pointer;
    transition: all .2s ease-in-out;
    font-weight:600;
    font-size:14px;
}
#side-container ul.category li:hover{
    color: #008080;
    transition: all .2s ease-in-out;
}
#side-container ul.a{
    text-decoration: none;
}

main {
    margin-left:23rem;
    padding-top:2rem;
}
main #title{
    font-size:16px;
    font-weight: 700;
    color:#008080;
    margin-bottom:1rem;
    display:flex;
    align-items:center;
    gap:6px;
}
main #articles-container{
    display:flex;
    flex-direction: column;
    gap:1rem;
    padding-right:1rem;
}
main #articles-container .article{
    background:white;
    padding:1rem;
    border-radius:.5rem;
    cursor:pointer;
    transition:all .1s ease-in-out;

}
main #articles-container .article:hover{
    border:2px solid #008080;
    transform: scale(1.0001);
    transition:all .1s ease-in-out;
}
main #articles-container .article .title-container{
    display:flex;
    gap:5px;
}
main #articles-container .article .title-container .title{
    font-size:18px;
    font-weight: 600;
    color:#424242;
    margin-bottom:1rem;
}
main #articles-container .article .title-container .libelle{
    font-size:8px;
    font-weight:800;
    color:#008080;
}
main #articles-container .article .content{
    font-size:14px;
    font-weight: 500;
    color:#404040;
    margin-bottom:1rem;
}
main #articles-container .article .create-date{
    font-size:9px;
    font-weight: 800;
    color:#818181;
    float:right;
}
main .article-info-date{
    font-size:9px;
    font-weight: 800;
    color:#818181;
    text-align:right;
}
.no-art{
    font-size:13px;
    font-weight: 500;
}
.catego{
    color:#008080;
}

#view-article{

}
#view-article .content{
    font-size:14px;
    font-weight: 500;
    color:#404040;
    margin-bottom:1rem;
}
#returnlink{
    color:#5A5C5C;
    text-decoration: none;
    font-size:13px;
    font-weight:bold;
    transition: all .2s ease-in-out;
    margin-top:3rem;
}

#returnlink:hover{
    color:#008080;
    text-decoration: none;
    transition: all .2s ease-in-out;
}